
*{
    font-family:Verdana,Tahoma, sans-serif;
    scroll-behavior:smooth;
    /* text-align: center; */
}

.nav-con{
    /* position: fixed; */
    display:flex;
    /* flex-direction: row; */
    text-decoration: none;
    justify-content: space-around;
    background-color:antiquewhite;
    margin: 10px 0px 10px 0px;
    border-radius: 20px;
}

.nav-links{
    display:flex;
    background-color: rgba(127, 255, 212, 0);
    align-items: center;
    list-style-type: none;
}

.nav-links a{
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    font-size: 20px;
    font-weight:500px;

}



.intro-sec h1{
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    margin: 20px 10px 10px 10px;
    
}

.intro-sec{
    border: 2px solid black;
    margin: 0px 0px 10px 0px;
    
}
#Who{
    text-shadow: 1rem;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.clark{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 25%;
    transition: transform 0.3s ease-in-out, border-radius 0.2s ease-in-out; 
}
.clark:hover {
    transform: scale(1.1);
    border-radius: 20%;
  }
.leetcode{
    border-radius: 5%;
    display: block;
    margin: auto;
    width: 25%;
}
.intro-sec h2{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.intro-sec p{
    font-size: 1.1rem;
}

.poster{
    color: black;
    border: 2px solid black;
    padding: 10px;
    /* display:flex; */
}

.poster-div{
    color: black;
    /* border: 2px solid black; */
    padding: 10px;
    align-items: center;
}
.div1{
    padding: 20px;
    height: 200px;
    width:200px ;
    background-color: cadetblue;
    border: 10px solid black;
    border-width: 10px 10px 10px 10px;
}
.div1 p{
    /* display: block; */
    margin: 0;

}
.div2{
    height: 200px;
    width:200px ;
    background-color: gold;
    display: flex;
    border: 30px solid black;
    border-width: 20px 10px 20px 10px;
    margin-left: 260px;
}
.div3{
    height: 200px;
    width:200px ;
    background-color: indianred ;
    display: flex;
    border: 30px solid black;
    border-width: 10px 10px 10px 10px;
    margin-left: 40px;
}

.meme{
    border: 2px solid black;
    margin: 10px 0px 10px 0px;

    background-color: black;

}
.meme-con {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
 
}
.meme h3,h2{
    font-family:co;
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
}
.meme img{
    border: 10px solid white;
    width: 100%;
}

.flex-con{
    display: flex;
    color: white;
    height: 60vh;
    border: 5px solid gold;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content:; */
}
.flex-con > *{
    flex-basis: 100px;
    padding: 20px;
}
.red{background-color: red;}
.orange{background-color: orange;}
.yellow{background-color: yellow;}
.green{background-color: green;}
.blue{background-color: blue;}
.indigo{background-color: indigo;}
.purple{background-color: purple;}





/* @media (max-width: 600px){
    
    .intro-sec{
        background-color: rgb(184, 255, 231);
    }
    .intro-sec h1{
        font-size: 20px;

    }
    .intro-sec h2{
        font-size: 20px;
        color: black;
    }
} */


.packs-con{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(128, 128, 128, 0);
    margin: 10px 20px 10px 20px;
}

.packs{
    background-color:rgb(197, 197, 197);
    /* width: 500px;
    height: 200px; */
    width: auto;
    margin: 0px 10px 0px 10px;
    padding: 10px 50px 10px 50px;
    border-radius: 20px;
    text-align: center;


}